<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
    <div class="wrapper">
        <input id="email" type="text" placeholder="EMail"/>
    </div>
    <div class="wrapper">
        <input id="password" type="password" placeholder="Password(***)"/>
    </div>
    <div class="wrapper">
        <input id="repeat_password" type="password" placeholder="Repeat Password(***)"/>
    </div>
  <button id="register" class="btn" [class.disabled]="isDisabled" disabled >Register</button>
</div>

